html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: black;
    row-gap: 100px;
}

.a_b_section {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}