html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: black;

}

main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 50px;
}