html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background: black;
}

.bg {
    position: fixed;
    opacity: 0.1;
}

#list {
    margin-top: 20px;
    color: white;
}

main {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 50px;
    opacity: 1;

}


fieldset {
    border: 5px solid lightgray;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 17px 26px -10px rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0px 17px 26px -10px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: 0px 17px 26px -10px rgba(255, 255, 255, 0.35);

    background: linear-gradient(171deg, rgba(32, 84, 128, 0) 10%, rgba(255, 255, 255, 0.1) 100%);
}

legend {
    font-size: 22px;
    color: lightgray;
    padding: 0 20px;
}