#a_btnColor, #b_btnForm {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    margin: 10px;
    
    transition: all 0.5s ease;
}