 .i_flex {
     display: flex;
     align-items: center;
     justify-content: center;


 }

 .i_section {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 100%;
     gap: 10px;
     /* height: 300px; */
     justify-content: center;
     align-items: end;

     .i_TrysKvadratai {
         cursor: pointer;
         position: relative;
         display: flex;
         width: 60%;

         justify-content: center;
         align-items: flex-end;
         background-color: aliceblue;

         .i_TrysKvadratai1,
         .i_TrysKvadratai2,
         .i_TrysKvadratai3 {

             &:after {
                 content: '';
                 display: block;
                 padding-top: 100%;
             }
         }


         &:after {
             content: '';
             display: block;
             padding-top: 100%;
         }
     }

     .i_Spalva {
         /* max-width: 400px; */
         width: 20%;

         &:after {
             content: '';
             display: block;
             padding-top: 100%;
         }

         /* width: 35%; */
     }
 }


 .j_section {
     color: white;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 100%;
     gap: 10px;
     justify-content: center;
     font-size: 20px;
     text-shadow: 1px 1px 1px black;
     align-items: center;

     .j_setionsLeft {
         display: flex;
         column-gap: 10px;
         align-items: center;
     }

     #j_Picker {
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         background-color: transparent;
         /* border: 5px solid gray; */
         cursor: pointer;
         border: none;
         /* border-style: outset; */
         /* border-radius: 10px; */
         width: 100px;
         height: 50px;
     }

     #j_Picker::-webkit-color-swatch {
         border-radius: 15px;

         border: 3px outset lightgray;
     }

     #j_Picker::-moz-color-swatch {
         border-radius: 15px;
         border: none;
     }



     .j_colorDiv {
         max-width: 250px;
         width: 100%;
         text-align: center;
         min-height: 5px;
         padding: 5px;
         /* background-color: aquamarine; */
         border-style: inset;
         border: 1px solid darkgray;
     }

 }